<h1>Services</h1>

<div class="row">
  {{#each services as |service|}}
    <div class="card">
      
      <div class="card-body">
        <h5 class="card-title">{{ service.name}}</h5>
        
        <a href="{{ service.url}}" class="btn btn-primary">More Info</a>
      </div>
    </div>
  {{/each}}
</div>