<form id="formContainer">
    <div class="container">
      <h1>Deportes</h1>
      <div class="border rounded p-4">
        <div class="form-group row">
          <label class="col-sm-2 col-form-label">Name</label>
          <div class="col-sm-10">
            <input id="name" type="text" class="form-control" name="name" />
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label">Price</label>
          <div class="col-sm-10">
            <input id="price" type="text" class="form-control" name="price" />
          </div>
        </div>
        <button type="button" class="btn btn-info" id="addSportBtn">Add Sport</button>
      </div>
    </div>
  </form>