<form id="removeContainer">
    <div class="container">
      <h1>Delete Sport</h1>
      <div class="border rounded p-4">
        <div class="form-group row">
          <label class="col-sm-2 col-form-label">ID</label>
          <div class="col-sm-10">
            <input id="id" type="text" class="form-control" name="id" placeholder="Enter ID to delete"/>
          </div>
        </div>
      
        <button type="button" class="btn btn-info"  href="/deleteSport" id="removeSportBtn">Delete Sport</button>
      </div>
      <div id="successMessage" style="display: none;" class="mt-3 alert alert-success">Sport deleted successfully!</div>
      <div id="errorMessage" style="display: none;" class="mt-3 alert alert-danger">Error!!! Sport does not exist!</div>
    </div>
  </form>