<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Services</title>
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/style.css">
</head>

<body>
    <header>{{> navbar }}</header>
    
    <main class="container my-5">
        {{{ body }}}
    </main>

    <footer>{{> footer}}</footer>
    

    <script src="/assets/js/bootstrap.min.js"></script>
    <script src="/assets/js/app.js"></script>
    <script type="module"></script>
</body>

</html>