 <h1>Image URL Form</h1>
    <form action="/image" method="GET">
        <label for="imageUrl">Image URL:</label><br>
        <input type="text" id="imageUrl" name="imageUrl"><br><br>
        <button type="submit">Process Image</button>
    </form>